* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-image: url("To_Do_List_Pad.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
  
    /* These 3 lines make the container centered */
    display: inline-flexbox;
    justify-content: space-around;
    align-items: end; /* This is the line you were missing */
  
    padding: 40px;
  }